body {
	margin: 0px;
}

.titles {
	text-align: center;
	font-family: 'Bitter', serif;
	padding: 10px;
	max-width: 75%;
	margin: 0 auto;
	border-radius: 50px;
	color: white;
}

h1 {
	border-radius: 10px;
	max-width: 100%;
}

h2 {
	max-width: 50%;
	border-radius: 8px;
	text-align: center;
	margin: 0 auto;
}

.titbut {
	text-align: center;
}

a {
	font-size: 20px;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 0px;
	font-weight: bold;
	font-family: 'Bitter', serif;
	color: white;
	text-decoration: none;
}

	a:hover {
		color: white;
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.5);
	}

button {
	font-size: 20px;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 0px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.0);
	font-family: 'Bitter', serif;
	color: white;
}

	button:hover {
		color: white;
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.5);
	}

.dropbtn {
	cursor: pointer;
	outline: none;
}

	.dropbtn:hover, .dropbtn:focus {
		color: white;
	}

.dropdown {
	position: relative;
	display: inline-block;

}

.dropdown-content {
	display: none;
	position: absolute;
	right: -30px;
	background-color: rgba(0, 0, 0, 0.0);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
	z-index: 1;

}

	.dropdown-content a {
		color: white;
		text-decoration: none;
		display: block;
		font-size: 20px;
		margin: 10px;
		padding: 5px;
		border-radius: 10px;
		border: 0px;
		font-weight: bold;
		background-color: rgba(0, 0, 0, 0.55);
		font-family: 'Bitter', serif;

	}

		.dropdown-content a:hover {
			background-color: rgba(0,0,0, 0.80);
			transition: all 750ms;
			
		}

.show {
	display: block;
}


#pg1 {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("Mesa.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}


#sdbg {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("FNS9c.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}


#sdtit {
	color: White;
	max-width: 25%;
	position: relative;
	left: 10px;
	top: 10px;
	font-style: oblique;
}

#hdbg {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("KSG.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	bottom: 15px;
}

#hdtit {
	color: white;
	max-width: 25%;
	position: relative;
	left: 10px;
	top: 10px;
	font-style: oblique;
}

#frbg {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("sigpistol.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	bottom: 23px;
}

#frtit {
	color: black;
	max-width: 25%;
	position: relative;
	left: 10px;
	top: 10px;
	font-style: italic;
	font-family: Stencil;
}

#ducksbg {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("mossberg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 780px;
	position: relative;
	top: -10px;
}

#duckstit {
	color: white;
	max-width: 25%;
	position: relative;
	left: 10px;
	top: 10px;
	font-style: oblique;
}

#deerbg {
	background: linear-gradient( rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("Xbolt.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 780px;
	position: relative;
	top: -10px;
}

#deertit {
	color: white;
	max-width: 30%;
	position: relative;
	left: 10px;
	top: 10px;
	font-style: oblique;
}