body {
	margin: 0px;
	font-size: 62.5%;
}

hr {
	border-color: white;
	height: 3px;
	max-width: 200px;
}

#titles {
	font-size: 3rem;
	font-family: 'Bitter', serif;
	padding: 10px;
	max-width: 75%;
	margin: 0 auto;
	color: white;
}


a {
	font-size: 1.6rem;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	border: 0px;
	font-weight: bold;
	font-family: 'Bitter', serif;
	color: white;
	text-decoration: none;
}

	a:hover {
		color: white;
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.5);
		transition: 750ms;
	}

button {
	font-size: 1.6rem;
	margin: 10px;
	padding: 5px;
	border-radius: 10px;
	border: none;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.0);
	font-family: 'Bitter', serif;
	color: white;
}

	button:hover {
		color: white;
		text-decoration: none;
		background-color: rgba(0, 0, 0, 0.5);
		transition: 750ms;
	}

.dropbtn {
	cursor: pointer;
}

	.dropbtn:hover, .dropbtn:focus {
		color: white;
		outline: none;
	}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	right: -15px;
	background-color: rgba(0, 0, 0, 0.0);
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.0);
	z-index: 1;
}

	.dropdown-content a {
		color: white;
		text-decoration: none;
		display: block;
		font-size: 1.6rem;
		margin: 10px;
		padding: 5px;
		border-radius: 10px;
		border: 0px;
		font-weight: bold;
		background-color: rgba(0, 0, 0, 0.0);
		font-family: 'Bitter', serif;
	}

		.dropdown-content a:hover {
			background-color: rgba(0,0,0, 0.80);
			transition: all 750ms;
		}

.show {
	display: block;
}


#pg1 {
	background: linear-gradient( rgba(0,0,0,0.533), rgba(0,0,0,0.533)), url("Mesa.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
}


#sdbg {
	background: linear-gradient( rgba(0,0,0,0.533), rgba(0,0,0,0.533)), url("FNS9c.jpeg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	width: 100vw;
}


#sdtit {
	font-size: 3rem;
	font-family: 'stencil';
	font-style: italic;
	padding: 10px;
	max-width: 75%;
	margin: 0 auto;
	color: white;
}

	#sdtit:hover {
		padding: 0 20px 0 7px;
	}

#hdbg {
	background: linear-gradient( rgba(0,0,0,0.525), rgba(0,0,0,0.525)), url("KSG.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	bottom: 15px;
}

#hdtit {
	font-size: 3rem;
	font-family: 'stencil';
	font-style: italic;
	padding: 10px;
	max-width: 75%;
	margin: 0 auto;
	color: white;
}

	#hdtit:hover {
		padding: 0 20px 0 7px;
	}

#frbg {
	background: linear-gradient( rgba(0,0,0,0.533), rgba(0,0,0,0.533)), url("sigpistol.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 100vh;
	position: relative;
	bottom: 23px;
}

#frtit {
	font-size: 3rem;
	font-family: 'stencil';
	font-style: italic;
	padding: 10px;
	max-width: 75%;
	margin: 0 auto;
	color: white;
}

	#frtit:hover {
		padding: 0 20px 0 7px;
	}

#ducksbg {
	background: linear-gradient( rgba(0,0,0,0.486), rgba(0,0,0,0.486)), url("mossberg.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 780px;
	position: relative;
	top: -10px;
}

#duckstit {
	font-size: 3rem;
	font-family: 'stencil';
	font-style: italic;
	padding: 10px;
	max-width: 75%;
	margin: 0 auto;
	color: white;
}

	#duckstit:hover {
		padding: 0 20px 0 7px;
	}

#deerbg {
	background: linear-gradient( rgba(0,0,0,0.525), rgba(0,0,0,0.525)), url("Xbolt.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 780px;
	position: relative;
	top: -10px;
}

#deertit {
	font-size: 3rem;
	font-family: 'stencil';
	font-style: italic;
	padding: 10px;
	max-width: 75%;
	margin: 0 auto;
	color: white;
}

	#deertit:hover {
		padding: 0 20px 0 7px;
	}


#homebutton {
	position: absolute;
	bottom: 690px;
}

.resize {
	width: 60px;
	height: auto
}

.resize {
	width: 50px;
	height: auto;
}
